<div class="about-section">
    <h1>About Us</h1>
    <pre>My Name is <h4> Shivnath </h4><h4>Bhor</h4></pre>
    <pre>     I am Front-End Devloper Seeking for a challenging position in an organization
        that will allow me to display my experince and good problam solving skills to make 
        a company grow by solving their problams. Looking forward to use my  skills for the 
        betterment of the company and to increase my potential as well.</pre>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
         
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
         
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>